.social-button {
  opacity: 0.5;
  color: var(--text);
  border-radius: 99px;
  background: transparent;
  width: 40px;
  padding: 7px 0px 0px 7px;
  transition: all 0.1s ease-in-out;
}

.social-button:hover {
  opacity: 1;
  scale: 1.1;
}
