.total-projects-badge {
  gap: 10px;
  height: 37px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid var(--secondary);

  & span {
    border-left: 1.5px solid var(--secondary);
    padding: 0px 5px 0px 15px;
    margin-left: 5px;
    font-weight: 700;
  }

  & p {
    white-space: nowrap;
  }
}
