@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global Scale Vars */
:root {
  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;
  --ph: 1rem;
  --sm: 0.833rem;
  --ss: 0.694rem;

  @media (max-width: 550px) {
    --h1: 2.027rem;
    --h2: 1.802rem;
    --h3: 1.602rem;
    --h4: 1.424rem;
    --h5: 1.266rem;
    --h6: 1.125rem;
    --sm: 0.889rem;
    --ss: 0.79rem;
  }
}

/* Default Text Styles */
h1 {
  font-weight: 700;
  color: var(--text);
  white-space: nowrap;
  font-size: var(--h1);
}

h2 {
  font-weight: 700;
  color: var(--text);
  font-size: var(--h2);
}

h3 {
  font-weight: 600;
  color: var(--text);
  font-size: var(--h3);
}

h4 {
  font-weight: 600;
  color: var(--text);
  font-size: var(--h4);
}

h5 {
  font-weight: 500;
  color: var(--text);
  font-size: var(--h5);
}

h6 {
  font-weight: 500;
  color: var(--text);
  font-size: var(--h6);
}

p {
  font-weight: 400;
  text-wrap: pretty;
  color: var(--text);
  font-size: var(--ph);
}
