::selection {
  color: var(--text);
  background: var(--primary);
}

::-moz-selection {
  color: var(--text);
  background: var(--primary);
}

*:focus-visible {
  outline: none;
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0 0 0 2px var(--accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
}
