.projects-table {
  width: 100%;
  margin: 40px 0px;
  border-collapse: collapse;

  & th {
    text-align: left;
    font-weight: 500;
    font-size: var(--sm);
    padding: 10px 13px 15px 0px;
  }

  & td {
    padding: 16px 0px;
    vertical-align: top;
    border-top: 1px solid var(--secondary);
  }

  & thead {
    top: 0;
    z-index: 10;
    position: sticky;
    backdrop-filter: blur(10px);
    background: rgba(13, 1, 1, 0.8);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--secondary);
  }
}

.table-link-column {
  width: 250px;
}

.table-year-column {
  width: 70px;
  opacity: 0.5;
  font-size: var(--sm);
}

.table-name-column {
  max-width: 120px;
  font-weight: 500;
  padding-right: 50px;
}

.table-labels-column {
  margin: 0 30px;
  max-width: 200px;
}

/* Hide the labels column */
@media (max-width: 850px) {
  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}

/* Hide the `name-link` column */
@media (min-width: 551px) {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
}

/* Hide the `name`, labels` and `link` column */
@media (max-width: 550px) {
  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
}
