.experience-card {
  & article {
    & div {
      flex: 3;
    }

    & h5 {
      margin: 0;
      font-size: var(--h4);
    }

    & h6 {
      margin: 0;
      font-weight: 400;
    }

    & .date {
      flex: 1;
      opacity: 0.55;
      margin: 5px 0px;
      font-weight: 500;
      font-size: var(--h6);
    }
  }
}

@media (max-width: 550px) {
  .experience-card {
    & article {
      padding: 5px;
    }

    & .date {
      margin-right: 3px;
      font-size: var(--ss);
    }
  }
}
