.content {
  flex: 3;

  & h4 {
    margin: 0;
    font-size: var(--h4);
  }

  & h5 {
    margin: 0;
    font-weight: 400;
  }

  & ul {
    max-width: 90%;
    padding-left: 0px;
  }

  & li {
    list-style-type: none;
    margin: 15px 0;
  }
}

.date {
  flex: 1;
  opacity: 0.55;
  margin: 5px 10px 5px 0px;
  font-weight: 500;
  font-size: var(--h6);
}

@media (max-width: 550px) {
  .card {
    & article {
      padding: 5px;
      flex-direction: column;
    }
  }

  .date {
    margin-right: 3px;
    font-size: var(--ss);
  }
}
