.alert {
  width: 95%;
  opacity: 0;
  height: 0px;
  display: flex;
  padding: 0px 8px;
  align-items: center;
  border-radius: 10px;
  transform-origin: top;
  transform: scaleY(0.95);
  margin: 32px 0px 0px 0px;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  border: 1.5px solid var(--secondary);

  & .icon svg {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  & p {
    text-wrap: wrap;
  }
}

.info {
  border: 1.5px solid rgba(49, 130, 206, 0.2);
  background: 1.5px solid rgba(49, 130, 206, 0.1);

  & p {
    color: var(--info);
  }

  & svg {
    color: var(--info);
  }
}

.warning {
  border: 1.5px solid rgba(221, 107, 32, 0.2);
  background: 1.5px solid rgba(221, 107, 32, 0.1);

  & p {
    color: var(--warning);
  }

  & svg {
    color: var(--warning);
  }
}

.success {
  border: 1.5px solid rgba(56, 161, 105, 0.2);
  background: 1.5px solid rgba(56, 161, 105, 0.1);

  & p {
    color: var(--success);
  }

  & svg {
    color: var(--success);
  }
}

.error {
  border: 1.5px solid rgba(229, 62, 62, 0.2);
  background: 1.5px solid rgba(229, 62, 62, 0.1);

  & p {
    color: var(--error);
  }

  & svg {
    color: var(--error);
  }
}
