#arrow-container {
  width: 100%;
  height: 56px;
  bottom: 5dvh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.arrow-button {
  width: 64px;
  height: 64px;
  border: none;
  cursor: pointer;
  padding: 16px;
  color: var(--text);
  background: transparent;
  transition: all 0.1s ease-in-out;
}

.arrow-button:hover {
  scale: 1.1;
}

@media (max-width: 550px) {
  #arrow-container {
    display: none;
  }
}
