.project-card {
  & article {
    align-items: center;

    & .image {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    & img {
      width: 200px;
      height: 200px;
      margin-right: 17px;
      border-radius: 10px;
    }

    & h4 {
      margin: 0;
    }

    & .date {
      padding-left: 12px;
      font-weight: 600;
      font-size: var(--sm);
      color: rgba(253, 231, 231, 0.52);
    }
  }
}

@media (max-width: 550px) {
  .project-card {
    & article {
      flex-direction: column;

      & .image {
        height: 115px;
        overflow: hidden;
        margin-bottom: 16px;
        justify-content: flex-start;
      }

      & .content {
        align-items: center;
      }

      & p {
        max-width: 90%;
      }
    }
  }
}
