footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p {
  text-wrap: balance;
  text-align: center;
  max-width: 96%;
}

footer a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
}
