---
import Section from 'layouts/Section.astro';
import Divider from 'components/divider';
import {
  FrameworksSkills,
  LanguagesSkills,
  OthersSkills
} from 'components/grids';
---

<Section name="about">
  <p>
    Lorem ipsum dolor sit amet consectetur. Sagittis sit donec sed arcu morbi
    tortor cursus. Neque dui sed justo semper. Feugiat nisi sed vel sit pulvinar
    lacus. Tincidunt eget viverra at felis vitae dolor.
  </p>
  <Divider />
  <FrameworksSkills />
  <LanguagesSkills />
  <OthersSkills />
</Section>

<style>
  p {
    margin-top: 0;
  }
</style>
