---
import Section from 'layouts/Section.astro';
import Divider from 'components/divider';
import {
  FrameworksSkills,
  LanguagesSkills,
  OthersSkills
} from 'components/grids';
---

<Section name="about">
  <p>Based on Valencia, Spain.</p>
  <p>
    Interested on software development since childhood, very comfortable
    learning new technologies. Working with JavaScript for 4 years.
  </p>
  <Divider />
  <FrameworksSkills />
  <LanguagesSkills />
  <OthersSkills />
</Section>

<style>
  p {
    margin-top: 0;
  }
</style>
