---
import Section from 'layouts/Section.astro';
import ContactForm from 'components/form';

const url = import.meta.env.CONTACT_FORM_ENDPOINT;
---

<Section name="contact" removeBottomMargin>
  <ContactForm url={url} client:idle />
</Section>
