---
import {ExperienceCard} from 'components/cards';
import {BaseLink} from 'components/links';
import {CardsGrid} from 'components/grids';
import Section from 'layouts/Section.astro';
---

<Section name="experience">
  <CardsGrid client:visible className="experience-cards">
    <ExperienceCard
      date="OCT 2023"
      title="Iberdrola Nuclear Plant"
      subtitle="Technical Assistant"
      labels={['IT Support', 'Python', 'Sphinx']}>
      <ul>
        <li>
          Participated on technical processes of the biannual refueling of the
          nuclear power plant.
        </li>
        <li>
          Build and shipped a tool in python to improved efficiency and speed of
          those tech processes.
        </li>
      </ul>
    </ExperienceCard>
    <ExperienceCard
      date="2023 — 2022"
      title="Miguel Ballesteros Institute"
      subtitle="Full-Stack Developer"
      labels={['Firebase', 'React Native', 'Express', 'Typescript']}>
      <ul>
        <li>
          Build a full order mobile app that improved lunch sales & efficiency.
        </li>
        <li>Build an almost priceless infrastructure for the backend.</li>
      </ul>
    </ExperienceCard>
  </CardsGrid>
  <BaseLink id="resume-link" href="resume.pdf" target="_blank" client:visible>
    See Full Resume
  </BaseLink>
  <div id="heading-space-gap"></div>
</Section>

<style>
  div {
    height: 0px;
  }

  @media (max-width: 650px) {
    div {
      width: 100%;
      height: 40px;
    }
  }
</style>
