---
import {ExperienceCard} from 'components/cards';
import Link from 'components/links';
import {CardsGrid} from 'components/grids';
import Section from 'layouts/Section.astro';
---

<Section name="experience">
  <CardsGrid client:only className="experience-cards">
    <ExperienceCard
      date="OCT 2023"
      title="Laboral Experience Title"
      subtitle="Junior Developer"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus."
      labels={['Python', 'Sphinx']}
    />
    <ExperienceCard
      date="2023 — 2022"
      title="Laboral Experience Title"
      subtitle="Junior Developer"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus."
      labels={['Firebase', 'React Native', 'Typescript']}
    />
  </CardsGrid>
  <Link id="resume-link" href="resume.pdf" client:only>See Full Resume</Link>
</Section>
