---
import {SocialGrid} from 'components/grids';
import Avatar from 'components/avatar';
---

<header>
  <Avatar />
  <h1>Pau García Chiner</h1>
  <h2>Full-Stack Developer</h2>
  <p>Lorem ipsum dolor sit amet consectetur. Tempor posuere nulla.</p>
  <SocialGrid />
</header>

<style>
  header {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    height: 64px;
    padding: 0px 20px;
    color: var(--accent);
  }

  h2 {
    margin: 0;
    font-weight: 400;
    padding: 0px 20px;
    font-size: var(--h4);
  }

  p {
    max-width: 500px;
    margin: 30px 0px;
    padding: 0px 20px;
  }

  @media (max-width: 550px) {
    h1 {
      height: 42px;
    }
  }
</style>
