---
import {ProjectCard} from 'components/cards';
import Section from 'layouts/Section.astro';
import {CardsGrid} from 'components/grids';
import Link from 'components/links';
---

<Section name="projects">
  <CardsGrid client:only className="project-cards">
    <ProjectCard
      date="2023"
      title="Cafeteria"
      image="/images/projects/cafeteria.webp"
      labels={['React Native', 'Firebase', 'Express']}
      description="An ordering application for the Miguel Ballesteros Viana institute."
    />
    <ProjectCard
      date="2021 — 2023"
      title="ChinerNvim"
      image="/images/projects/chiner-nvim.webp"
      labels={['Lua', 'Neovim', 'Docusaurus']}
      description="My current neovim setup, fully written in Lua and ready for web development."
    />
    <ProjectCard
      date="2023"
      title="Youtube Music"
      image="/images/projects/youtube-music.webp"
      labels={['Electron', 'JavaScript']}
      description="A simple desktop app of the youtube music web player"
    />
  </CardsGrid>
  <Link id="archive-link" href="/projects" client:only>Projects Archive</Link>
</Section>
