---
const {maxWidth, expandContent} = Astro.props;

const widthValue = expandContent ? '100%' : 'auto';
const maxWidthValue = `${maxWidth ?? 600}px`;
---

<div>
  <slot />
</div>

<style define:vars={{maxWidth: maxWidthValue, width: widthValue}}>
  div {
    height: 100%;
    display: flex;
    margin: 0px 20px;
    width: var(--width);
    flex-direction: column;
    max-width: var(--maxWidth);
  }
</style>
