<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Pau García Chiner official webpage." />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Pau García Chiner</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/fonts.css';
  @import '../styles/colors.css';
  @import '../styles/overrides.css';

  html {
    margin: 0;
    display: flex;
    color: var(--text);
    font-family: 'Poppins';
    justify-content: center;
    background: var(--background);
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
