---
const {name} = Astro.props;
const title = name ?? 'Pau García Chiner';
---

<html lang="en">
  <head>
    <!-- Basic Meta Tags -->
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="#0d0101" />
    <meta name="viewport" content="width=device-width" />
    <meta name="image" content="https://pauchiner.es/images/og.png" />
    <meta
      name="description"
      content="Pau García Chiner is a full-stack software developer obsessed with minimal designs and the perfect user experience."
    />
    <!-- Sitemap Meta Tag -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- OG Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pau García Chiner" />
    <meta property="og:url" content="https://pauchiner.es" />
    <meta property="og:site_map" content="Pau García Chiner" />
    <meta property="og:image" content="https://pauchiner.es/images/og.png" />
    <meta
      name="og:description"
      content="Pau García Chiner is a full-stack software developer obsessed with minimal designs and the perfect user experience."
    />
    <!-- OG Twitter Meta Tags -->
    <meta property="twitter:title" content="Pau García Chiner" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://pauchiner.es/images/og.png"
    />
    <meta
      name="twitter:description"
      content="Pau García Chiner is a full-stack software developer obsessed with minimal designs and the perfect user experience."
    />
    <!-- Fonts Meta Tags -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=poppins:200,400,500,600,700"
      rel="stylesheet"
    />
    <!-- Favicon Meta Tags -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/fonts.css';
  @import '../styles/colors.css';
  @import '../styles/overrides.css';

  html {
    margin: 0;
    display: flex;
    color: var(--text);
    justify-content: center;
    background: var(--background);
    font-family: 'Poppins', sans-serif;
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
