---
import Head from './BaseHead.astro';
import '../styles/globals.css';

const {title = 'Pau García Chiner'} = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body>
    <slot />
  </body>
</html>
