---
import Head from './BaseHead.astro';
import '../styles/globals.css';

const {title = 'Pau García Chiner'} = Astro.props;
---

<html lang="en" transition:animate="fade">
  <Head title={title} />
  <body>
    <slot />
    <style>
      body {
        transform-origin: bottom;
        animation: appear 500ms ease-out;
      }

      @keyframes appear {
        0%,
        30% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </body>
</html>
