---
interface Props {
  name: string;
  removeBottomMargin?: boolean;
}

const {name, removeBottomMargin} = Astro.props;

if (name == null) {
  throw new Error(
    'The `name` property is needed to create a new section component.'
  );
}

const identifier = name.toLowerCase();
---

<section
  id={identifier}
  class={removeBottomMargin ? 'remove-bottom-margin' : ''}>
  <h3>{name.toUpperCase()}</h3>
  <slot />
</section>

<style>
  section {
    display: flex;
    margin: 64px 0px;
    position: relative;
    flex-direction: column;
  }

  h3 {
    font-weight: 600;
    color: var(--text);
    font-size: var(--h4);
    margin: 0px 0px 16px 0px;
  }

  .remove-bottom-margin {
    margin-bottom: 32px;
  }

  @media (max-width: 650px) {
    h3 {
      top: 0px;
      z-index: 999;
      position: sticky;
      padding: 9px 18px 12px 14px;
      margin: 0 -13px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background: rgb(13, 1, 1);
      background: linear-gradient(
        180deg,
        rgba(13, 1, 1, 1),
        rgba(13, 1, 1, 0.5)
      );
    }
  }
</style>
