.cards-grid {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 550px) {
  .cards-grid:hover .card-border {
    opacity: 1;
  }

  .cards-grid:hover .card {
    background: var(--secondary);

    & img {
      border-radius: 6px;
    }
  }
}
