.labels-grid {
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.label {
  padding: 3px 10px;
  position: relative;
  border-radius: 10px;
  font-size: var(--sm);
  background: rgba(247, 127, 189, 0.08);
  border: 1.5px solid rgba(247, 127, 189, 0.18);
}
